<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shy.mapper.PlanMapper">
  <resultMap id="BaseResultMap" type="com.shy.model.Plan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_date" jdbcType="VARCHAR" property="planDate" />
    <result column="day_time" jdbcType="VARCHAR" property="dayTime" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_text" jdbcType="VARCHAR" property="planText" />
    <result column="plan_status" jdbcType="VARCHAR" property="planStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_date, day_time, plan_name, plan_text, plan_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select plan.id,plan_date, day_time, plan_name, plan_text, plan_status
    from users inner join uplan
                          on users.id = uplan.uid
               inner join plan
                          on uplan.pid = plan.id
    where users.username=#{username,jdbcType=VARCHAR}
  </select>
  
  <select id="selectTime" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from plan where plan_date = #{planDate,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plan
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.shy.model.Plan">
    insert into plan (plan_date, day_time,
      plan_name, plan_text, plan_status
      )
    values (#{planDate,jdbcType=VARCHAR}, #{dayTime,jdbcType=VARCHAR},
      #{planName,jdbcType=VARCHAR}, #{planText,jdbcType=VARCHAR}, #{planStatus,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.shy.model.Plan">
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planDate != null">
        plan_date,
      </if>
      <if test="dayTime != null">
        day_time,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planText != null">
        plan_text,
      </if>
      <if test="planStatus != null">
        plan_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planDate != null">
        #{planDate,jdbcType=VARCHAR},
      </if>
      <if test="dayTime != null">
        #{dayTime,jdbcType=VARCHAR},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planText != null">
        #{planText,jdbcType=VARCHAR},
      </if>
      <if test="planStatus != null">
        #{planStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shy.model.Plan">
    update plan
    <set>
      <if test="planDate != null">
        plan_date = #{planDate,jdbcType=VARCHAR},
      </if>
      <if test="dayTime != null">
        day_time = #{dayTime,jdbcType=VARCHAR},
      </if>
      <if test="planName != null">
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planText != null">
        plan_text = #{planText,jdbcType=VARCHAR},
      </if>
      <if test="planStatus != null">
        plan_status = #{planStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shy.model.Plan">
    update plan
    set plan_date = #{planDate,jdbcType=VARCHAR},
      day_time = #{dayTime,jdbcType=VARCHAR},
      plan_name = #{planName,jdbcType=VARCHAR},
      plan_text = #{planText,jdbcType=VARCHAR},
      plan_status = #{planStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>