#v1{
	
	margin-top: 20px;
}

#s1{
	float: left;
	font-size: 30px;
	color: #DC143C;
	height: 270px;
	width: 500px;
}

#s2{
	margin-left: 50px;
	float: left;
	color: #7FFFD4;
	font-size: 30px;
	height: 270px;
	width: 500px;
}

#a17{
	height: 250px;
	width: 250px;
}

#a18{
	height: 250px;
	width: 250px;
}

#a19{
	height: 250px;
	width: 250px;
}

#a20{
	height: 250px;
	width: 250px;
}